<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>DiffPerformanceTest</key>
		<dict>
			<key>test_CoreImage_AndLoad_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021257</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
			<key>test_CoreImage_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001643</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
			<key>test_vImage_Buffer_AndLoad_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013347</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
			<key>test_vImage_Buffer_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0064785</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
		</dict>
		<key>SnapshotPerformanceTest</key>
		<dict>
			<key>test_CoreImage_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.020565</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
			<key>test_vImage_Buffer_Performance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021737</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2021 at 7:49:53 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
